body{
background-color: #18191e;
color: hsla(0,0%,100%,.6);
font: 14px/16px ProximaNova,arial,tahoma,sans-serif;
}
.topsemana{
    border: 1px solid rgb(221, 210, 210);
    width: 94%;
    height: 577px;
    margin-right: 3%;
    margin-left: 3%;
}
.imgs{
    width: 94%;
    margin-left: 3%;
    
    margin-right: 3%;
    height: 574px;
    
}
footer{
    width: 100%;
    height: 300px;
    background-color: black;
}
.direitos{
    text-align: center;
    margin-top: 50px;
    
}
li{
    text-decoration: none;
    display: block;
    width: 100%;
    padding-left: 10px;
}

.likrodape{
    display: block;
    color: aliceblue;

   padding: 20px;

}
.logob{
    display: flex;
    position: absolute;
    margin-left: 55%;
    margin-top: -179px;
  
  

}
.logoss{
    vertical-align: middle;
    border-style: none;
    width: 30px;
    height: 30px;
}
.terra{
    width: 131px;
    position: absolute;
}
.logo1{
    width: 193px;
   
}
.logo3{
    margin: 0px;
    text-decoration: none;
 
}

.navecao{
    background: #18191e;
    float: right;
    width: 43%;
    

}
.logopc{
    display: flex;
    position: absolute;
    margin-left: 20%;
    margin-top: -190px;
}
.terrapc{
    width: 131px;
    position: absolute;
}
.limknavecao{
    color: #d1d811;
    font-size: medium;
    font-style: oblique;
 
}
.ulll{
    margin-top: 44px;
    margin-bottom: 46px;
    padding-left: 30px;
    width: 100%;
    display: flex;
    margin-left: -11px;
}
.border{
   
    border-radius: 6px;
    border: solid;
    border-color: #d1d811;
}




@media only screen and (min-width: 768px){
.imgs{
    height: 574px;
    width: 94%;
}
.topsemana{
    border: 1px solid rgb(221, 210, 210);
    width: 40%;
    height: 577px;
   
}
}
@media only screen and (max-width: 768px){
.navecao{
    display: none;
}
}


    


